#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background: #f8f8f8;
    .navbar {
        width: 1200px;
        margin: 0 auto;
        .navbar-logo {
            margin-left: 300px;
            .navbar-brand {
                display: block;
                padding: 0 15px;
                .logo {
                    width: 40px;
                    height: 40px;
                    margin: 5px auto;
                }
            }
        }
        .navbar-collapse {
            ul {
                li {
                    float: left;
                    line-height: 50px;
                    height: 50px;
                    padding: 0 30px;
                    a {
                        font-size: 16px;
                        color: #777;
                    }
                }
            }
        }
    }
    .title-bracelects {
        overflow: hidden;
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        background: #f6f6f6;
        padding: 0 300px;
        a {
            display: block;
            color: #333;
            font-size: 16px;
            padding: 15px 50px;
            img {
                width: 50px;
                height: 70px;
            }
            .title-bracelects-desc {
                height: 30px;
                text-align: center;
                line-height: 30px;
            }
        }
    }
    .slideDown-enter-active {
        height: 130px;
        overflow: hidden;
        transition: 1s;
    }
    .slideDown-enter {
        height: 0;
    }
    .slideDown-leave-active {
        height: 130px;
        overflow: hidden;
        transition: .5s;
    }
    .slideDown-leave-to {
        height: 0;
    }
}